.mail-compose {
    display: grid;
    grid-template-rows: 40px 1fr 60px;
    @apply absolute h-screen w-screen bottom-0 right-0;
    
    .compose-header {
        & h4{
            color: #041e49;
        }

        @apply flex-between ps-4;

        .icons-container {
            @apply me-3 flex items-center;

            & span {
                @apply cursor-pointer ms-1;
            }
        }
    }

    .compose-form input{
        box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
        &:focus-within{
            outline: none
        }
    }

    .compose-controls {
        @apply flex-between px-4;

        & button {
            background-color: #0b57d0;
            height: 36px;
            box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451),0 1px 3px 1px rgba(26,115,232,0.302);
            @apply flex-center font-medium rounded-3xl px-6;

            &:hover{
                background-color: #1b61d1;
            }
        }
    }

    .compose-form {
        padding-inline-start: 16px;
        display: grid;
        grid-template-rows: 40px 40px 1fr;
    }

    @media screen(md) {
        box-shadow:
            0px 8px 10px 1px rgba(0, 0, 0, 0.14),
            0px 3px 14px 2px rgba(0, 0, 0, 0.12),
            0px 5px 5px -3px rgba(0, 0, 0, 0.2);
        width: 451px;
        right: 61px;

        &.minimized {
            height: 40px;
            .compose-controls,
            .compose-form {
                @apply hidden;
            }
        }

        &.standard {
            height: 467px;
        }

        &.full-screen {
            height: 94vh;
            width: 67vw;
            bottom: 50%;
            right: 50%;
            transform: translate(50%,50%);
        }
    }
}
