.main-header {
    height: 64px;
    padding: 0.5em;
    @apply w-full flex items-center;
    
    .logo{
        @apply text-2xl ms-2;
    }

    .expand-hamburger {
        width: 48px;
        height: 48px;
    }

    .dark-btn {
        position: absolute;
        right: 2em;
    }
}

.header-search {
    left: 256px;
    height: 48px;
    min-width: 3px;
    width: 40%;
    @apply text-base absolute;
}
