.main-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 0.5em;
    .expand-hamburger {
        width: 48px;
        height: 48px;
    }
    .dark-btn {
        position: absolute;
        right: 2em;
    }
}

.header-search {
    position: absolute;
    left: 256px;
    height: 48px;
    min-width: 324px;
    width: 40%;
    font-size: 1rem;
    /* border-radius: 1.5em; */
    /* & .logo{
        height: 40px;
    } */
}
