.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 100%;
    /* height: 100%; */
    transition: width 0.3s;
    /* transition-timing-function: cubic-bezier(0.4,0,0.2,1); */
    .compose-btn{

        margin-inline-end: 2em;
    }
    .folder-list {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        li {
            margin-inline-end: 2em;
            height: 32px;
            display: flex;
            align-items: center;
            /* justify-content: center; */
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1em;
                width: 2em;
                height: 2em;
                /* @apply flex items-center h-8; */
            }
        }
    }
    .txt-span {
        display: none;
    }
    .compose-btn {
        margin-inline-start: .5em;
        width: 56px;
        height: 56px;
        border-radius: 1em;
        padding-inline-start: 18px;
        transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0,0.2,1);
        &:hover {
            box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
        }
        @apply bg-clrComposeBtn dark:bg-white
    }
    @media (min-width: 768px) {
        display: block;
        width: 72px;
        height: 100%;
        .compose-btn{
            margin: 8px 0 16px 8px;
        }
        .folder-list {
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            li {
                margin-inline-end: 0;
                /* justify-content: start; */
                a {
                    margin-inline-start: 20px;
                    width: 32px;
                }
            }
        }
        &.expand,
        &:hover {
            width: 256px;
            li {
                /* justify-content: start; */
                a {
                    justify-content: start;
                    margin-inline-start: 0;
                    padding-inline-start: 26px;
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    width: 240px;
                }
            }
            .compose-btn{
                width: 147px;
            }
            .txt-span {
                display: inline;
                margin-inline-start: 18px;
            }
        }
    }
}
