.sidebar {
    height: 72px;
    transition: width 0.3s;
    @apply flex-center w-full;

    .compose-btn{
        margin-inline-end: 2em;
    }

    .folder-list {
        @apply flex justify-center;

        li {
            margin-inline-end: 2em;
            height: 32px;
            @apply flex items-center;

            a {
                border-radius: 1em;
                width: 2em;
                height: 2em;
                @apply flex-center h-8;
            }
        }
    }

    .txt-span {
        display: none;
    }

    .compose-btn {
        margin-inline-start: .5em;
        width: 56px;
        height: 56px;
        border-radius: 1em;
        padding-inline-start: 18px;
        transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0,0.2,1);
        &:hover {
            box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
        }
        @apply bg-clrComposeBtn dark:bg-white;
    }

    @media screen(md) {
        width: 72px;
        @apply h-full block;

        .compose-btn{
            @apply mb-4 mx-2
        }

        .folder-list {
            @apply flex flex-col;

            li {
                @apply me-0;

                a {
                    margin-inline-start: 20px;
                    width: 32px;
                }
            }
        }
        &.expand,
        &:hover {
            width: 256px;
            li {
                a {
                    padding-inline-start: 26px;
                    width: 240px;
                    @apply rounded-s-none justify-start ms-0;
                }
            }

            .compose-btn{
                width: 147px;
            }

            .txt-span {
                display: inline;
                margin-inline-start: 18px;
                
            }
        }
    }
}
