/* general */
*{

}

*{
	@apply box-border
}

:root {
	@apply text-clrTxtPrimary 
}

body {
    @apply bg-clrBgPrimary min-h-full m-0 text-lg md:text-base 
}

/* tags */


img {
    @apply w-full
   
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-weight: 400;
    margin: 0 0 0.8em;
    line-height: 1.4; */
}

h2 {
    /* font-size: 2.1428571em; */
}

a {
    /* color: var(--clrPrimary-1); */
}

a:hover {
    /* text-decoration: none; */
}
