/* flex helpers */
/* .flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
} */

/* list helpers */

.clean-list {
    @apply m-0 p-0 list-none
    /* margin: 0;
    padding: 0;
    list-style-type: none; */
}
.flex-center{
    @apply flex items-center justify-center
    
}
