

/* MEDIUM */
@media (min-width: 768px) {
    .mail-index-layout {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: 
        "header header"
        "sidebar list";
    }
    .mail-preview{
        height: 40px;
        /* display: grid;
        grid-template-columns: min-content 1fr min-content; */
        .preview-main-content {
            /* display: flex; */
            /* flex: 1; */
            /* grid-template-columns: 1; */
            flex-direction: row;
           
            .mail-seperator {
                display: inline-block;
            }
        }
        
       
    }
}

/* LARGE  */
@media (min-width: 1024px) {
   
}
